<div style="height: calc(100%);background-color: #464646;">
  <div class="row">
    <p class="col-12 text-xxl text-light text-center" style="background-color: #0d1117; font-size: xx-large;font-weight: bold">My Projects</p>
    <div class="card m-4" style="width: 18rem;">
      <img src="assets/school-building-icon.webp" class="card-img-top" height="265" width="10">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">Attendance project</h5>
        <p class="card-text">this project about attending students</p>
        <a routerLink="/project/1/chat" class="btn btn-primary">Enter Now</a>
      </div>
    </div>
    <div class="card mt-5 rounded-5" style="margin-right: 20px; width: 210px;height: 260px; background-color: transparent; border-color: white; border-width: thick;border-radius: 35px">
      <div class="card-body">
        <button class="rounded-5 " style="background-color: transparent; border-color: transparent;">
          <span style="font-size: 1em; color: #ffffff;">
            <i class="fa fa-plus-square fa-10x"></i>
          </span>
          <h5 class="text-center text-light" style="font-weight: bold">New Project</h5>
        </button>
      </div>
    </div>
    <div class="card mt-5 rounded-5" style="width: 260px;height: 260px; background-color: transparent; border-color: white; border-width: thick;border-radius: 35px">
      <div class="card-body">
        <button class="rounded-5 " style="background-color: transparent; border-color: transparent;">
          <span style="font-size: 1em; color: #ffffff;">
            <i class="fa fa-users-line fa-10x"></i>
          </span>
          <h5 class="text-center text-light" style="font-weight: bold">Invite</h5>
        </button>
      </div>
    </div>
  </div>
</div>
